/* IMPORT ALL TOOLS */

@import url("columns.css");
@import url("typography.css");
@import url("colour.css");
@import url("line.css");
@import url("space.css");
@import url("motion.css");
@import url("elevation.css");
@import url("shortcuts.css");
@import url("components.css");

/* INITIALISE */

*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}


/* Make common inline elements block for more predictable designing */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    max-width: 100%;
}


/* Maintain aspect ratios when applying max-width */

img,
svg,
video,
canvas {
    height: auto;
}


/* Clear nav list styling to neatly handly nav links via lists */

nav ul {
    list-style: none;
}


/* Turn wrap on by default because why not */

pre {
    white-space: pre-wrap;
}


/* BREAKPOINTS */

:root {
    /* Currently useless inside @media queries until env() variables are available in CSS */
    --bp-01: 360px;
    --bp-1: 864px;
    --bp-2: 1366px;
    --bp-3: 1920px;
}


/* COLOURS */

:root {
    --primary: #424242;
    --p-light: #6d6d6d;
    --p-dark: #1b1b1b;
    --accent: #304ffe;
    --a-light: #7a7cff;
    --a-dark: #0026ca;
    --text: #1b1b1b;
    --background: #ffffff;
    --neutral: #BDBDBD;
    /* Dark Mode */
    --dark-primary: #424242;
    --dark-text: #ffffff;
    --dark-background: #1b1b1b;
    --dark-neutral: #424242;
}


/* INITIALISE */

[data-theme="light"] {
    --text: var(--text) --background: var(--background);
}

[data-theme="dark"] {
    --text: var(--dark-text);
    --background: var(--dark-background);
}

body {
    color: var(--text);
    background-color: var(--background);
}


/* APPLICATIONS */

.clr-primary {
    color: var(--primary);
}

.clr-p-light {
    color: var(--p-light);
}

.clr-p-dark {
    color: var(--p-dark);
}

.clr-accent {
    color: var(--accent);
}

.clr-text {
    color: var(--text);
}

.clr-background {
    color: var(--background);
}

.fill-primary {
    background-color: var(--primary);
}

.fill-p-light {
    background-color: var(--p-light);
}

.fill-p-dark {
    background-color: var(--p-dark);
}

.fill-accent {
    background-color: var(--accent);
}

.fill-text {
    background-color: var(--text);
}

.fill-background {
    background-color: var(--background);
}


/* COLUMNS */

:root {
    --col-base: 12;
    --col-base-A: 12;
    --col-base-B: 8;
    --col-base-C: 4;
    --col-base-D: 1;
}

@media screen and (max-width: 360px) {
     :root {
        --col-base: 1;
    }
}

@media screen and (min-width: 361px) and (max-width: 560px) {
     :root {
        --col-base: 2;
    }
}

@media screen and (min-width: 561px) and (max-width: 864px) {
     :root {
        --col-base: 4;
    }
}

@media screen and (min-width: 865px) and (max-width: 1366px) {
     :root {
        --col-base: 8;
    }
}


/* GRID CONTAINERS */

.grid-container,
.grid,
.gr {
    display: grid;
}

.gr-cols-12 {
    grid-template-columns: repeat(12, 1fr);
}

.gr-cols-8 {
    grid-template-columns: repeat(8, 1fr);
}

.gr-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.gr-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}


/* AUTO GRID */

.gr-auto {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-6), 1fr));
}

.gr-auto-spdb-1 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-1), 1fr));
}

.gr-auto-spdb-2 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-2), 1fr));
}

.gr-auto-spdb-3 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-3), 1fr));
}

.gr-auto-spdb-4 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-4), 1fr));
}

.gr-auto-spdb-5 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-5), 1fr));
}

.gr-auto-spdb-6 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-6), 1fr));
}

.gr-auto-spdb-7 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-7), 1fr));
}

.gr-auto-spdb-8 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-8), 1fr));
}

.gr-auto-spdb-9 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-9), 1fr));
}

.gr-auto-spdb-10 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-10), 1fr));
}

.gr-auto-spdb-11 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-11), 1fr));
}

.gr-auto-spdb-12 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-12), 1fr));
}


/* ROWS */

.gr-rows-1 {
    grid-template-rows: repeat(2, 1fr);
}

.gr-rows-2 {
    grid-template-rows: repeat(2, 1fr);
}

.gr-rows-3 {
    grid-template-rows: repeat(3, 1fr);
}

.gr-rows-4 {
    grid-template-rows: repeat(3, 1fr);
}


/* ADJUSTMENTS */

.gr-middle {
    justify-content: center;
    align-items: center;
}

.gr-middle-self {
    justify-self: center;
    align-self: center;
}


/* GRID GAPS */

.gr-gap-spsc-1 {
    grid-gap: var(--spsc-1) var(--spsc-1);
}

.gr-gap-spsc-2 {
    grid-gap: var(--spsc-2) var(--spsc-2);
}

.gr-gap-spsc-3 {
    grid-gap: var(--spsc-3) var(--spsc-3);
}

.gr-gap-spsc-4 {
    grid-gap: var(--spsc-4) var(--spsc-4);
}


/* COLUMN SPANS */

.cols-1 {
    grid-column: span 1;
}

.cols-2 {
    grid-column: span 2;
}

.cols-3 {
    grid-column: span 3;
}

.cols-4 {
    grid-column: span 4;
}

.cols-5 {
    grid-column: span 5;
}

.cols-6 {
    grid-column: span 6;
}

.cols-7 {
    grid-column: span 7;
}

.cols-8 {
    grid-column: span 8;
}

.cols-9 {
    grid-column: span 9;
}

.cols-10 {
    grid-column: span 10;
}

.cols-11 {
    grid-column: span 11;
}

.cols-12 {
    grid-column: span 12;
}


/*  */


/* EXPERIMENTAL */


/*  */

.gr-responsive {
    grid-template-columns: repeat(var(--col-base), 1fr);
}


/* RESPONSIVE COLS */

.rscols-1 {
    grid-column: span 1;
}

.rscols-2 {
    grid-column: span 2;
}

.rscols-3 {
    grid-column: span 3;
}

.rscols-4 {
    grid-column: span 4;
}

.rscols-5 {
    grid-column: span 5;
}

.rscols-6 {
    grid-column: span 6;
}

.rscols-7 {
    grid-column: span 7;
}

.rscols-8 {
    grid-column: span 8;
}

.rscols-9 {
    grid-column: span 9;
}

.rscols-10 {
    grid-column: span 10;
}

.rscols-11 {
    grid-column: span 11;
}

.rscols-12 {
    grid-column: span 12;
}

@media screen and (max-width: 360px) {
    .rscols-1,
    .rscols-2,
    .rscols-3,
    .rscols-4,
    .rscols-5,
    .rscols-6,
    .rscols-7,
    .rscols-8,
    .rscols-9,
    .rscols-10,
    .rscols-11,
    .rscols-12 {
        grid-column: span 1;
    }
}

@media screen and (min-width: 361px) and (max-width: 560px) {
    .rscols-1,
    .rscols-2,
    .rscols-3,
    .rscols-4,
    .rscols-5,
    .rscols-6 {
        grid-column: span 1;
    }
    .rscols-7,
    .rscols-8,
    .rscols-9,
    .rscols-10,
    .rscols-11,
    .rscols-12 {
        grid-column: span 2;
    }
}


/* BUTTONS */

button,
.btn-primary {
    padding: var(--spsc-2) var(--spsc-4);
    background-color: var(--accent);
    color: var(--background);
    border: none;
    outline: none;
}

[data-theme="light"] button {
    color: var(--background);
}

[data-theme="dark"] button {
    color: var(--text);
}

button:hover,
.btn-primary:hover {
    background-color: var(--a-dark);
}

button:active,
.btn-primary:active {
    background-color: var(--a-light)
}

.btn-secondary {
    background-color: var(--primary)
}

.btn-secondary:hover {
    background-color: var(--p-dark)
}

.btn-secondary:active {
    background-color: var(--p-light)
}


/* FORMS */

input[type="text"] {
    height: var(--spsc-5);
    border: var(--border);
    outline: none;
}


/* Enhance form clickability on smaller viewports */

@media screen and (max-width: 360px) {
    input[type="text"] {
        height: var(--spsc-9);
    }
}

@media screen and (min-width: 361px) and (max-width: 864px) {
    input[type="text"] {
        height: var(--spsc-7);
    }
}


/* TILE */

.tile {
    box-shadow: var(--ev-1);
}

.tile-idle-ev-0 {
    box-shadow: var(--ev-0);
}

.tile:hover,
.tile-idle-ev-0:hover {
    box-shadow: var(--ev-12);
    border-color: rgba(0, 0, 0, 0);
}

.tile:active,
.tile-idle-ev-0:hover {
    box-shadow: var(--ev-8);
    border-color: rgba(0, 0, 0, 0);
}


/* ELEVATION */


/* CAST SHADOWS */

:root {
    --ev-1: 0px calc(var(--sp-1) * 0.32) calc(var(--sp-1) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-1) * 0.12) calc(var(--sp-1) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-1) * 0.12) calc(var(--sp-1) * 0.32) -2px rgba(0, 0, 0, 0.06);
    --ev-2: 0px calc(var(--sp-2) * 0.32) calc(var(--sp-2) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-2) * 0.12) calc(var(--sp-2) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-2) * 0.12) calc(var(--sp-2) * 0.32) -2px rgba(0, 0, 0, 0.06);
    --ev-3: 0px calc(var(--sp-3) * 0.32) calc(var(--sp-3) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-3) * 0.12) calc(var(--sp-3) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-3) * 0.12) calc(var(--sp-3) * 0.32) 0px rgba(0, 0, 0, 0.06);
    --ev-4: 0px calc(var(--sp-4) * 0.32) calc(var(--sp-4) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-4) * 0.12) calc(var(--sp-4) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-4) * 0.12) calc(var(--sp-4) * 0.32) 0px rgba(0, 0, 0, 0.06);
    --ev-5: 0px calc(var(--sp-5) * 0.32) calc(var(--sp-5) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-6) * 0.12) calc(var(--sp-5) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-5) * 0.12) calc(var(--sp-6) * 0.32) 2px rgba(0, 0, 0, 0.06);
    --ev-6: 0px calc(var(--sp-6) * 0.32) calc(var(--sp-6) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-6) * 0.12) calc(var(--sp-6) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-6) * 0.12) calc(var(--sp-6) * 0.32) 2px rgba(0, 0, 0, 0.06);
    --ev-7: 0px calc(var(--sp-7) * 0.32) calc(var(--sp-7) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-7) * 0.12) calc(var(--sp-7) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-7) * 0.12) calc(var(--sp-7) * 0.32) 4px rgba(0, 0, 0, 0.06);
    --ev-8: 0px calc(var(--sp-8) * 0.32) calc(var(--sp-8) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-8) * 0.12) calc(var(--sp-8) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-8) * 0.12) calc(var(--sp-8) * 0.32) 4px rgba(0, 0, 0, 0.06);
    --ev-9: 0px calc(var(--sp-9) * 0.32) calc(var(--sp-9) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-9) * 0.12) calc(var(--sp-9) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-9) * 0.12) calc(var(--sp-9) * 0.32) 6px rgba(0, 0, 0, 0.06);
    --ev-10: 0px calc(var(--sp-10) * 0.32) calc(var(--sp-10) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-10) * 0.12) calc(var(--sp-10) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-10) * 0.12) calc(var(--sp-10) * 0.32) 6px rgba(0, 0, 0, 0.06);
    --ev-11: 0px calc(var(--sp-11) * 0.32) calc(var(--sp-11) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-11) * 0.12) calc(var(--sp-11) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-11) * 0.12) calc(var(--sp-11) * 0.32) 8px rgba(0, 0, 0, 0.06);
    --ev-12: 0px calc(var(--sp-12) * 0.32) calc(var(--sp-12) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-12) * 0.12) calc(var(--sp-12) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-12) * 0.12) calc(var(--sp-12) * 0.32) 8px rgba(0, 0, 0, 0.06);
}

.ev {
    box-shadow: var(--ev)
}

.ev-1 {
    box-shadow: var(--ev-1);
}

.ev-2 {
    box-shadow: var(--ev-2);
}

.ev-3 {
    box-shadow: var(--ev-3);
}

.ev-4 {
    box-shadow: var(--ev-4);
}

.ev-5 {
    box-shadow: var(--ev-5);
}

.ev-6 {
    box-shadow: var(--ev-6);
}

.ev-7 {
    box-shadow: var(--ev-7);
}

.ev-8 {
    box-shadow: var(--ev-8);
}

.ev-9 {
    box-shadow: var(--ev-9);
}

.ev-10 {
    box-shadow: var(--ev-10);
}

.ev-11 {
    box-shadow: var(--ev-11);
}

.ev-12 {
    box-shadow: var(--ev-12);
}

.ev-0 {
    box-shadow: none;
}


/* IMPORT ALL TOOLS */

@import url("columns.css");
@import url("typography.css");
@import url("colour.css");
@import url("line.css");
@import url("space.css");
@import url("motion.css");
@import url("elevation.css");
@import url("shortcuts.css");
@import url("components.css");

/* INITIALISE */

*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}


/* Make common inline elements block for more predictable designing */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    max-width: 100%;
}


/* Maintain aspect ratios when applying max-width */

img,
svg,
video,
canvas {
    height: auto;
}


/* Clear nav list styling to neatly handly nav links via lists */

nav ul {
    list-style: none;
}


/* Turn wrap on by default because why not */

pre {
    white-space: pre-wrap;
}


/* BREAKPOINTS */

:root {
    /* Currently useless inside @media queries until env() variables are available in CSS */
    --bp-01: 360px;
    --bp-1: 864px;
    --bp-2: 1366px;
    --bp-3: 1920px;
}


/* COLOURS */

:root {
    --primary: #424242;
    --p-light: #6d6d6d;
    --p-dark: #1b1b1b;
    --accent: #304ffe;
    --a-light: #7a7cff;
    --a-dark: #0026ca;
    --text: #1b1b1b;
    --background: #ffffff;
    --neutral: #BDBDBD;
    /* Dark Mode */
    --dark-primary: #424242;
    --dark-text: #ffffff;
    --dark-background: #1b1b1b;
    --dark-neutral: #424242;
}


/* INITIALISE */

[data-theme="light"] {
    --text: var(--text) --background: var(--background);
}

[data-theme="dark"] {
    --text: var(--dark-text);
    --background: var(--dark-background);
}

body {
    color: var(--text);
    background-color: var(--background);
}


/* APPLICATIONS */

.clr-primary {
    color: var(--primary);
}

.clr-p-light {
    color: var(--p-light);
}

.clr-p-dark {
    color: var(--p-dark);
}

.clr-accent {
    color: var(--accent);
}

.clr-text {
    color: var(--text);
}

.clr-background {
    color: var(--background);
}

.fill-primary {
    background-color: var(--primary);
}

.fill-p-light {
    background-color: var(--p-light);
}

.fill-p-dark {
    background-color: var(--p-dark);
}

.fill-accent {
    background-color: var(--accent);
}

.fill-text {
    background-color: var(--text);
}

.fill-background {
    background-color: var(--background);
}


/* COLUMNS */

:root {
    --col-base: 12;
    --col-base-A: 12;
    --col-base-B: 8;
    --col-base-C: 4;
    --col-base-D: 1;
}

@media screen and (max-width: 360px) {
     :root {
        --col-base: 1;
    }
}

@media screen and (min-width: 361px) and (max-width: 560px) {
     :root {
        --col-base: 2;
    }
}

@media screen and (min-width: 561px) and (max-width: 864px) {
     :root {
        --col-base: 4;
    }
}

@media screen and (min-width: 865px) and (max-width: 1366px) {
     :root {
        --col-base: 8;
    }
}


/* GRID CONTAINERS */

.grid-container,
.grid,
.gr {
    display: grid;
}

.gr-cols-12 {
    grid-template-columns: repeat(12, 1fr);
}

.gr-cols-8 {
    grid-template-columns: repeat(8, 1fr);
}

.gr-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.gr-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}


/* AUTO GRID */

.gr-auto {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-6), 1fr));
}

.gr-auto-spdb-1 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-1), 1fr));
}

.gr-auto-spdb-2 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-2), 1fr));
}

.gr-auto-spdb-3 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-3), 1fr));
}

.gr-auto-spdb-4 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-4), 1fr));
}

.gr-auto-spdb-5 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-5), 1fr));
}

.gr-auto-spdb-6 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-6), 1fr));
}

.gr-auto-spdb-7 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-7), 1fr));
}

.gr-auto-spdb-8 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-8), 1fr));
}

.gr-auto-spdb-9 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-9), 1fr));
}

.gr-auto-spdb-10 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-10), 1fr));
}

.gr-auto-spdb-11 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-11), 1fr));
}

.gr-auto-spdb-12 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-12), 1fr));
}


/* ROWS */

.gr-rows-1 {
    grid-template-rows: repeat(2, 1fr);
}

.gr-rows-2 {
    grid-template-rows: repeat(2, 1fr);
}

.gr-rows-3 {
    grid-template-rows: repeat(3, 1fr);
}

.gr-rows-4 {
    grid-template-rows: repeat(3, 1fr);
}


/* ADJUSTMENTS */

.gr-middle {
    justify-content: center;
    align-items: center;
}

.gr-middle-self {
    justify-self: center;
    align-self: center;
}


/* GRID GAPS */

.gr-gap-spsc-1 {
    grid-gap: var(--spsc-1) var(--spsc-1);
}

.gr-gap-spsc-2 {
    grid-gap: var(--spsc-2) var(--spsc-2);
}

.gr-gap-spsc-3 {
    grid-gap: var(--spsc-3) var(--spsc-3);
}

.gr-gap-spsc-4 {
    grid-gap: var(--spsc-4) var(--spsc-4);
}


/* COLUMN SPANS */

.cols-1 {
    grid-column: span 1;
}

.cols-2 {
    grid-column: span 2;
}

.cols-3 {
    grid-column: span 3;
}

.cols-4 {
    grid-column: span 4;
}

.cols-5 {
    grid-column: span 5;
}

.cols-6 {
    grid-column: span 6;
}

.cols-7 {
    grid-column: span 7;
}

.cols-8 {
    grid-column: span 8;
}

.cols-9 {
    grid-column: span 9;
}

.cols-10 {
    grid-column: span 10;
}

.cols-11 {
    grid-column: span 11;
}

.cols-12 {
    grid-column: span 12;
}


/*  */


/* EXPERIMENTAL */


/*  */

.gr-responsive {
    grid-template-columns: repeat(var(--col-base), 1fr);
}


/* RESPONSIVE COLS */

.rscols-1 {
    grid-column: span 1;
}

.rscols-2 {
    grid-column: span 2;
}

.rscols-3 {
    grid-column: span 3;
}

.rscols-4 {
    grid-column: span 4;
}

.rscols-5 {
    grid-column: span 5;
}

.rscols-6 {
    grid-column: span 6;
}

.rscols-7 {
    grid-column: span 7;
}

.rscols-8 {
    grid-column: span 8;
}

.rscols-9 {
    grid-column: span 9;
}

.rscols-10 {
    grid-column: span 10;
}

.rscols-11 {
    grid-column: span 11;
}

.rscols-12 {
    grid-column: span 12;
}

@media screen and (max-width: 360px) {
    .rscols-1,
    .rscols-2,
    .rscols-3,
    .rscols-4,
    .rscols-5,
    .rscols-6,
    .rscols-7,
    .rscols-8,
    .rscols-9,
    .rscols-10,
    .rscols-11,
    .rscols-12 {
        grid-column: span 1;
    }
}

@media screen and (min-width: 361px) and (max-width: 560px) {
    .rscols-1,
    .rscols-2,
    .rscols-3,
    .rscols-4,
    .rscols-5,
    .rscols-6 {
        grid-column: span 1;
    }
    .rscols-7,
    .rscols-8,
    .rscols-9,
    .rscols-10,
    .rscols-11,
    .rscols-12 {
        grid-column: span 2;
    }
}


/* BUTTONS */

button,
.btn-primary {
    padding: var(--spsc-2) var(--spsc-4);
    background-color: var(--accent);
    color: var(--background);
    border: none;
    outline: none;
}

[data-theme="light"] button {
    color: var(--background);
}

[data-theme="dark"] button {
    color: var(--text);
}

button:hover,
.btn-primary:hover {
    background-color: var(--a-dark);
}

button:active,
.btn-primary:active {
    background-color: var(--a-light)
}

.btn-secondary {
    background-color: var(--primary)
}

.btn-secondary:hover {
    background-color: var(--p-dark)
}

.btn-secondary:active {
    background-color: var(--p-light)
}


/* FORMS */

input[type="text"] {
    height: var(--spsc-5);
    border: var(--border);
    outline: none;
}


/* Enhance form clickability on smaller viewports */

@media screen and (max-width: 360px) {
    input[type="text"] {
        height: var(--spsc-9);
    }
}

@media screen and (min-width: 361px) and (max-width: 864px) {
    input[type="text"] {
        height: var(--spsc-7);
    }
}


/* TILE */

.tile {
    box-shadow: var(--ev-1);
}

.tile-idle-ev-0 {
    box-shadow: var(--ev-0);
}

.tile:hover,
.tile-idle-ev-0:hover {
    box-shadow: var(--ev-12);
    border-color: rgba(0, 0, 0, 0);
}

.tile:active,
.tile-idle-ev-0:hover {
    box-shadow: var(--ev-8);
    border-color: rgba(0, 0, 0, 0);
}


/* ELEVATION */


/* CAST SHADOWS */

:root {
    --ev-1: 0px calc(var(--sp-1) * 0.32) calc(var(--sp-1) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-1) * 0.12) calc(var(--sp-1) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-1) * 0.12) calc(var(--sp-1) * 0.32) -2px rgba(0, 0, 0, 0.06);
    --ev-2: 0px calc(var(--sp-2) * 0.32) calc(var(--sp-2) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-2) * 0.12) calc(var(--sp-2) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-2) * 0.12) calc(var(--sp-2) * 0.32) -2px rgba(0, 0, 0, 0.06);
    --ev-3: 0px calc(var(--sp-3) * 0.32) calc(var(--sp-3) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-3) * 0.12) calc(var(--sp-3) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-3) * 0.12) calc(var(--sp-3) * 0.32) 0px rgba(0, 0, 0, 0.06);
    --ev-4: 0px calc(var(--sp-4) * 0.32) calc(var(--sp-4) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-4) * 0.12) calc(var(--sp-4) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-4) * 0.12) calc(var(--sp-4) * 0.32) 0px rgba(0, 0, 0, 0.06);
    --ev-5: 0px calc(var(--sp-5) * 0.32) calc(var(--sp-5) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-6) * 0.12) calc(var(--sp-5) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-5) * 0.12) calc(var(--sp-6) * 0.32) 2px rgba(0, 0, 0, 0.06);
    --ev-6: 0px calc(var(--sp-6) * 0.32) calc(var(--sp-6) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-6) * 0.12) calc(var(--sp-6) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-6) * 0.12) calc(var(--sp-6) * 0.32) 2px rgba(0, 0, 0, 0.06);
    --ev-7: 0px calc(var(--sp-7) * 0.32) calc(var(--sp-7) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-7) * 0.12) calc(var(--sp-7) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-7) * 0.12) calc(var(--sp-7) * 0.32) 4px rgba(0, 0, 0, 0.06);
    --ev-8: 0px calc(var(--sp-8) * 0.32) calc(var(--sp-8) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-8) * 0.12) calc(var(--sp-8) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-8) * 0.12) calc(var(--sp-8) * 0.32) 4px rgba(0, 0, 0, 0.06);
    --ev-9: 0px calc(var(--sp-9) * 0.32) calc(var(--sp-9) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-9) * 0.12) calc(var(--sp-9) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-9) * 0.12) calc(var(--sp-9) * 0.32) 6px rgba(0, 0, 0, 0.06);
    --ev-10: 0px calc(var(--sp-10) * 0.32) calc(var(--sp-10) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-10) * 0.12) calc(var(--sp-10) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-10) * 0.12) calc(var(--sp-10) * 0.32) 6px rgba(0, 0, 0, 0.06);
    --ev-11: 0px calc(var(--sp-11) * 0.32) calc(var(--sp-11) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-11) * 0.12) calc(var(--sp-11) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-11) * 0.12) calc(var(--sp-11) * 0.32) 8px rgba(0, 0, 0, 0.06);
    --ev-12: 0px calc(var(--sp-12) * 0.32) calc(var(--sp-12) * 0.4) 0px rgba(0, 0, 0, 0.12), 0px calc(var(--sp-12) * 0.12) calc(var(--sp-12) * 0.16) 0px rgba(0, 0, 0, 0.08), 0px calc(var(--sp-12) * 0.12) calc(var(--sp-12) * 0.32) 8px rgba(0, 0, 0, 0.06);
}

.ev {
    box-shadow: var(--ev)
}

.ev-1 {
    box-shadow: var(--ev-1);
}

.ev-2 {
    box-shadow: var(--ev-2);
}

.ev-3 {
    box-shadow: var(--ev-3);
}

.ev-4 {
    box-shadow: var(--ev-4);
}

.ev-5 {
    box-shadow: var(--ev-5);
}

.ev-6 {
    box-shadow: var(--ev-6);
}

.ev-7 {
    box-shadow: var(--ev-7);
}

.ev-8 {
    box-shadow: var(--ev-8);
}

.ev-9 {
    box-shadow: var(--ev-9);
}

.ev-10 {
    box-shadow: var(--ev-10);
}

.ev-11 {
    box-shadow: var(--ev-11);
}

.ev-12 {
    box-shadow: var(--ev-12);
}

.ev-0 {
    box-shadow: none;
}


/* BORDERS */

:root {
    --thickness: calc(var(--spsc-1) * 0.24);
    --border: var(--thickness) solid var(--neutral);
}

[data-theme="light"] {
    --border: var(--thickness) solid var(--neutral);
}

[data-theme="dark"] {
    --border: var(--thickness) solid var(--dark-neutral);
}


/* INITIALISE */

hr {
    border-top: var(--border);
    border-width: var(--thickness) 0 0;
    color: var(--neutral);
    height: 0;
    overflow: visible;
}


/* APPLICATIONS */

.ln {
    border: var(--border);
}

.nl-top {
    border-top: none;
}

.nl-bottom {
    border-bottom: none;
}

.nl-left {
    border-left: none;
}

.nl-right {
    border-right: none;
}

.ln-top {
    border-top: var(--border);
}

.ln-bottom {
    border-bottom: var(--border);
}

.ln-left {
    border-left: var(--border);
}

.ln-right {
    border-right: var(--border);
}

.br-sp-1 {
    border-radius: var(--sp-1);
}

.br-sp-2 {
    border-radius: var(--sp-2);
}

.br-sp-3 {
    border-radius: var(--sp-3);
}

.br-sp-4 {
    border-radius: var(--sp-4);
}

.br-sp-5 {
    border-radius: var(--sp-5);
}

.br-sp-6 {
    border-radius: var(--sp-6);
}

.br-sp-7 {
    border-radius: var(--sp-7);
}

.br-sp-8 {
    border-radius: var(--sp-8);
}

.br-sp-9 {
    border-radius: var(--sp-9);
}

.br-sp-10 {
    border-radius: var(--sp-10);
}

.br-sp-11 {
    border-radius: var(--sp-11);
}

.br-sp-12 {
    border-radius: var(--sp-12);
}

.br-spsc-1 {
    border-radius: var(--spsc-1);
}

.br-spsc-2 {
    border-radius: var(--spsc-2);
}

.br-spsc-3 {
    border-radius: var(--spsc-3);
}

.br-spsc-4 {
    border-radius: var(--spsc-4);
}

.br-spsc-5 {
    border-radius: var(--spsc-5);
}

.br-spsc-6 {
    border-radius: var(--spsc-6);
}

.br-spsc-7 {
    border-radius: var(--spsc-7);
}

.br-spsc-8 {
    border-radius: var(--spsc-8);
}

.br-spsc-9 {
    border-radius: var(--spsc-9);
}

.br-spsc-10 {
    border-radius: var(--spsc-10);
}

.br-spsc-11 {
    border-radius: var(--spsc-11);
}

.br-spsc-12 {
    border-radius: var(--spsc-12);
}


/* MOTION */


/* Initialise default transition time */

* {
    transition: var(--tm-2);
}


/* TIMINGS */

:root {
    --tm-1: 120ms;
    --tm-2: 240ms;
    --tm-3: 480ms;
    --tm-4: 1000ms;
}


/* EASING */


/* EASING | Cubic */

:root {
    --ez-cubic-i: cubic-bezier(0.32, 0, 0.67, 0);
    --ez-cubic-o: cubic-bezier(0.33, 1, 0.68, 1);
    --ez-cubic-io: cubic-bezier(0.65, 0, 0.35, 1);
}


/* EASING | snap */

:root {
    --ez-snap: cubic-bezier(0.34, 1.56, 0.64, 1);
}


/* SHORTCUTS */


/* DIMENSIONS */

.height-100,
.h-100 {
    height: 100%;
}

.width-100,
.w-100 {
    width: 100%;
}


/* POSITION */

.middle {
    justify-content: center;
    align-items: center;
}


/* MARGINS & PADDING */

.mgsc-1 {
    margin: var(--spsc-1);
}

.mgsc-2 {
    margin: var(--spsc-2);
}

.mgsc-3 {
    margin: var(--spsc-3);
}

.mgsc-4 {
    margin: var(--spsc-4);
}

.mgsc-5 {
    margin: var(--spsc-5);
}

.mgsc-6 {
    margin: var(--spsc-6);
}

.mgsc-7 {
    margin: var(--spsc-7);
}

.mgsc-8 {
    margin: var(--spsc-8);
}

.mgsc-y-1 {
    margin-top: var(--spsc-1);
    margin-bottom: var(--spsc-1);
}

.mgsc-y-2 {
    margin-top: var(--spsc-2);
    margin-bottom: var(--spsc-2);
}

.mgsc-y-3 {
    margin-top: var(--spsc-3);
    margin-bottom: var(--spsc-3);
}

.mgsc-y-4 {
    margin-top: var(--spsc-4);
    margin-bottom: var(--spsc-4);
}

.pgsc-1 {
    padding: var(--spsc-1);
}

.pgsc-2 {
    padding: var(--spsc-2);
}

.pgsc-3 {
    padding: var(--spsc-3);
}

.pgsc-4 {
    padding: var(--spsc-4);
}

.pgsc-5 {
    padding: var(--spsc-5);
}

.pgsc-6 {
    padding: var(--spsc-6);
}

.pgsc-7 {
    padding: var(--spsc-7);
}

.pgsc-8 {
    padding: var(--spsc-8);
}


/* FLEX */

.flex-container,
.fx-container,
.flex,
.fx {
    display: flex;
}

.fx-row {
    flex-flow: row wrap;
}

.fx-col {
    flex-flow: column wrap;
}


/* EXPERIMENTAL */

 :root {
    --invisible: rgba(0, 0, 0, 0);
}


/* SCALES */

:root {
    /* Perfect Fourth */
    --sc-1: 1.333;
    /* Perfect Fifth */
    --sc-2: 1.500;
    /* Fibonacci Golden Ratio */
    --sc-3: 1.618;
    /* Major Third */
    --sc-01: 1.250;
}

:root {
    /* set a base unit */
    --sp-base: 0.5rem;
    /* Standard spacing tokens are linearly incremental */
    --sp-1: var(--sp-base);
    --sp-2: calc(var(--sp-1) + var(--sp-base));
    --sp-3: calc(var(--sp-2) + var(--sp-base));
    --sp-4: calc(var(--sp-3) + var(--sp-base));
    --sp-5: calc(var(--sp-4) + var(--sp-base));
    --sp-6: calc(var(--sp-5) + var(--sp-base));
    --sp-7: calc(var(--sp-6) + var(--sp-base));
    --sp-8: calc(var(--sp-7) + var(--sp-base));
    --sp-9: calc(var(--sp-8) + var(--sp-base));
    --sp-10: calc(var(--sp-9) + var(--sp-base));
    --sp-11: calc(var(--sp-10) + var(--sp-base));
    --sp-12: calc(var(--sp-11) + var(--sp-base));
    /* Geometric series common ratio 2 (doubling)*/
    --spdb-1: var(--sp-base);
    --spdb-2: calc(var(--spdb-1) * 2);
    --spdb-3: calc(var(--spdb-2) * 2);
    --spdb-4: calc(var(--spdb-3) * 2);
    --spdb-5: calc(var(--spdb-4) * 2);
    --spdb-6: calc(var(--spdb-5) * 2);
    --spdb-7: calc(var(--spdb-6) * 2);
    --spdb-8: calc(var(--spdb-7) * 2);
    --spdb-9: calc(var(--spdb-8) * 2);
    --spdb-10: calc(var(--spdb-9) * 2);
    --spdb-11: calc(var(--spdb-10) * 2);
    --spdb-12: calc(var(--spdb-11) * 2);
}


/* Scalar spacing tokens are according to scale system variables and dynamically applied via media queries by default*/

@media screen and (max-width: 360px) {
     :root {
        --spsc-1: var(--sp-base);
        --spsc-2: calc(var(--spsc-1) * var(--sc-01));
        --spsc-3: calc(var(--spsc-2) * var(--sc-01));
        --spsc-4: calc(var(--spsc-3) * var(--sc-01));
        --spsc-5: calc(var(--spsc-4) * var(--sc-01));
        --spsc-6: calc(var(--spsc-5) * var(--sc-01));
        --spsc-7: calc(var(--spsc-6) * var(--sc-01));
        --spsc-8: calc(var(--spsc-7) * var(--sc-01));
        --spsc-9: calc(var(--spsc-8) * var(--sc-01));
        --spsc-10: calc(var(--spsc-9) * var(--sc-01));
        --spsc-11: calc(var(--spsc-10) * var(--sc-01));
        --spsc-12: calc(var(--spsc-11) * var(--sc-01));
    }
}

@media screen and (min-width: 361px) and (max-width: 864px) {
     :root {
        --spsc-1: var(--sp-base);
        --spsc-2: calc(var(--spsc-1) * var(--sc-1));
        --spsc-3: calc(var(--spsc-2) * var(--sc-1));
        --spsc-4: calc(var(--spsc-3) * var(--sc-1));
        --spsc-5: calc(var(--spsc-4) * var(--sc-1));
        --spsc-6: calc(var(--spsc-5) * var(--sc-1));
        --spsc-7: calc(var(--spsc-6) * var(--sc-1));
        --spsc-8: calc(var(--spsc-7) * var(--sc-1));
        --spsc-9: calc(var(--spsc-8) * var(--sc-1));
        --spsc-10: calc(var(--spsc-9) * var(--sc-1));
        --spsc-11: calc(var(--spsc-10) * var(--sc-1));
        --spsc-12: calc(var(--spsc-11) * var(--sc-1));
    }
}

@media screen and (min-width: 865px) and (max-width: 1366px) {
     :root {
        --spsc-1: var(--sp-base);
        --spsc-2: calc(var(--spsc-1) * var(--sc-2));
        --spsc-3: calc(var(--spsc-2) * var(--sc-2));
        --spsc-4: calc(var(--spsc-3) * var(--sc-2));
        --spsc-5: calc(var(--spsc-4) * var(--sc-2));
        --spsc-6: calc(var(--spsc-5) * var(--sc-2));
        --spsc-7: calc(var(--spsc-6) * var(--sc-2));
        --spsc-8: calc(var(--spsc-7) * var(--sc-2));
        --spsc-9: calc(var(--spsc-8) * var(--sc-2));
        --spsc-10: calc(var(--spsc-9) * var(--sc-2));
        --spsc-11: calc(var(--spsc-10) * var(--sc-2));
        --spsc-12: calc(var(--spsc-11) * var(--sc-2));
    }
}

@media screen and (min-width: 1361px) {
     :root {
        --spsc-1: var(--sp-base);
        --spsc-2: calc(var(--spsc-1) * var(--sc-3));
        --spsc-3: calc(var(--spsc-2) * var(--sc-3));
        --spsc-4: calc(var(--spsc-3) * var(--sc-3));
        --spsc-5: calc(var(--spsc-4) * var(--sc-3));
        --spsc-6: calc(var(--spsc-5) * var(--sc-3));
        --spsc-7: calc(var(--spsc-6) * var(--sc-3));
        --spsc-8: calc(var(--spsc-7) * var(--sc-3));
        --spsc-9: calc(var(--spsc-8) * var(--sc-3));
        --spsc-10: calc(var(--spsc-9) * var(--sc-3));
        --spsc-11: calc(var(--spsc-10) * var(--sc-3));
        --spsc-12: calc(var(--spsc-11) * var(--sc-3));
    }
}


/* INITIALISE */

* {
    /* Consolidate all line-heights */
    line-height: 1;
    /* Set default font family to monospace because you never want to see Times New Roman again */
    /* font-family: monospace; */
}


/* FONT SIZES */


/* FONT SIZES | Default */

:root {
    --fs-1: 1rem;
    --fs-2: calc(var(--fs-1) * var(--sc-1));
    --fs-3: calc(var(--fs-2) * var(--sc-1));
    --fs-4: calc(var(--fs-3) * var(--sc-1));
    --fs-5: calc(var(--fs-4) * var(--sc-1));
    --fs-6: calc(var(--fs-5) * var(--sc-1));
}


/* FONT SIZES | Responsive */

@media screen and (max-width: 360px) {
     :root {
        --fs-1: 1rem;
        --fs-2: calc(var(--fs-1) * var(--sc-01));
        --fs-3: calc(var(--fs-2) * var(--sc-01));
        --fs-4: calc(var(--fs-3) * var(--sc-01));
        --fs-5: calc(var(--fs-4) * var(--sc-01));
        --fs-6: calc(var(--fs-5) * var(--sc-01));
    }
}

@media screen and (min-width: 361px) and (max-width: 864px) {
     :root {
        --fs-1: 1rem;
        --fs-2: calc(var(--fs-1) * var(--sc-1));
        --fs-3: calc(var(--fs-2) * var(--sc-1));
        --fs-4: calc(var(--fs-3) * var(--sc-1));
        --fs-5: calc(var(--fs-4) * var(--sc-1));
        --fs-6: calc(var(--fs-5) * var(--sc-1));
    }
}

@media screen and (min-width: 361px) and (max-width: 864px) {
     :root {
        --fs-1: 1rem;
        --fs-2: calc(var(--fs-1) * var(--sc-1));
        --fs-3: calc(var(--fs-2) * var(--sc-1));
        --fs-4: calc(var(--fs-3) * var(--sc-1));
        --fs-5: calc(var(--fs-4) * var(--sc-1));
        --fs-6: calc(var(--fs-5) * var(--sc-1));
    }
}

@media screen and (min-width: 865px) and (max-width: 1366px) {
     :root {
        --fs-1: 1rem;
        --fs-2: calc(var(--fs-1) * var(--sc-2));
        --fs-3: calc(var(--fs-2) * var(--sc-2));
        --fs-4: calc(var(--fs-3) * var(--sc-2));
        --fs-5: calc(var(--fs-4) * var(--sc-2));
        --fs-6: calc(var(--fs-5) * var(--sc-2));
    }
}

@media screen and (min-width: 1361px) {
     :root {
        --fs-1: 1rem;
        --fs-2: calc(var(--fs-1) * var(--sc-3));
        --fs-3: calc(var(--fs-2) * var(--sc-3));
        --fs-4: calc(var(--fs-3) * var(--sc-3));
        --fs-5: calc(var(--fs-4) * var(--sc-3));
        --fs-6: calc(var(--fs-5) * var(--sc-3));
    }
}


/* Set body 1 styling relative to fs-2 (always greater than 1rem)
...body 1 acts as default font for paragraph text and button labels*/

p,
.body-1,
button,
label {
    font-size: calc(var(--fs-2) * 0.8);
}

h1 {
    font-size: var(--fs-6);
}

h2 {
    font-size: var(--fs-5);
}

h3 {
    font-size: var(--fs-4);
}

h4 {
    font-size: var(--fs-3);
}

h5 {
    font-size: var(--fs-2);
}

h6 {
    font-size: var(--fs-1);
}


/* LINE HEIGHTS */

p {
    line-height: calc(var(--fs-3) * .88);
}

h1 {
    line-height: var(--fs-6);
}

h2 {
    line-height: var(--fs-5);
}

h3 {
    line-height: var(--fs-4);
}

h4 {
    line-height: var(--fs-4);
}

h5 {
    line-height: var(--fs-3);
}

h6 {
    line-height: var(--fs-2);
}

caption,
figcaption,
label,
legend {
    line-height: var(--fs-2);
}


/* FONT WEIGHTS */

label {
    font-weight: 600;
}