/* COLOURS */

:root {
    --primary: #424242;
    --p-light: #6d6d6d;
    --p-dark: #1b1b1b;
    --accent: #304ffe;
    --text: #1b1b1b;
    --background: #ffffff;
}

body {
    color: var(--text);
    background-color: var(--background);
}

.clr-primary {
    color: var(--primary);
}

.clr-p-light {
    color: var(--p-light);
}

.clr-p-dark {
    color: var(--p-dark);
}

.clr-accent {
    color: var(--accent);
}

.clr-text {
    color: var(--text);
}

.clr-background {
    color: var(--background);
}

.fill-primary {
    background-color: var(--primary);
}

.fill-p-light {
    background-color: var(--p-light);
}

.fill-p-dark {
    background-color: var(--p-dark);
}

.fill-accent {
    background-color: var(--accent);
}

.fill-text {
    background-color: var(--text);
}

.fill-background {
    background-color: var(--background);
}