/* IMPORT ALL TOOLS */

@import url("columns.css");
@import url("typography.css");
@import url("colour.css");
@import url("borders.css");
@import url("space.css");
@import url("motion.css");
@import url("elevation.css");

/* BOILERPLATE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 16px;
}


/* BREAKPOINTS */

:root {
    /* Currently useless inside @media queries until env() variables are available in CSS */
    --bp-01: 360px;
    --bp-1: 864px;
    --bp-2: 1366px;
    --bp-3: 1920px;
}


/* SHORTCUTS */

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.mgsc-1 {
    margin: var(--spsc-1);
}

.mgsc-2 {
    margin: var(--spsc-2);
}

.mgsc-3 {
    margin: var(--spsc-3);
}

.mgsc-4 {
    margin: var(--spsc-4);
}

.pgsc-1 {
    padding: var(--spsc-1);
}

.pgsc-2 {
    padding: var(--spsc-2);
}

.pgsc-3 {
    padding: var(--spsc-3);
}

.pgsc-4 {
    padding: var(--spsc-4);
}