/* IMPORT ALL TOOLS */

@import url("columns.css");
@import url("typography.css");
@import url("colour.css");
@import url("borders.css");

/* BOILERPLATE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 16px;
}


/* BREAKPOINTS */

:root {
    /* Currently useless inside @media queries until env() variables are available in CSS */
    --bp-1: 360px;
    --bp-2: 864px;
    --bp-3: 1366px;
    --bp-4: 1920px;
}


/* SCALES */

:root {
    /* Perfect Fourth */
    --sc-A: 1.333;
    /* Perfect Fifth */
    --sc-B: 1.500;
    /* Fibonacci Golden Ratio */
    --sc-C: 1.618;
    /* Major Third */
    --sc-D: 1.250;
}

:root {
    /* set a base unit */
    --sp-base: 8px;
    /* Standard spacing tokens are linearly incremental */
    --sp-1: var(--sp-base);
    --sp-2: calc(var(--sp-1) + var(--sp-base));
    --sp-3: calc(var(--sp-2) + var(--sp-base));
    --sp-4: calc(var(--sp-3) + var(--sp-base));
    --sp-5: calc(var(--sp-4) + var(--sp-base));
    --sp-6: calc(var(--sp-5) + var(--sp-base));
    --sp-7: calc(var(--sp-6) + var(--sp-base));
    --sp-8: calc(var(--sp-7) + var(--sp-base));
    --sp-9: calc(var(--sp-8) + var(--sp-base));
    --sp-10: calc(var(--sp-9) + var(--sp-base));
    --sp-11: calc(var(--sp-10) + var(--sp-base));
    --sp-12: calc(var(--sp-11) + var(--sp-base));
    /* Geometric series common ratio 2 (doubling)*/
    --spdb-1: var(--sp-base);
    --spdb-2: calc(var(--spdb-1) * 2);
    --spdb-3: calc(var(--spdb-2) * 2);
    --spdb-4: calc(var(--spdb-3) * 2);
    --spdb-5: calc(var(--spdb-4) * 2);
    --spdb-6: calc(var(--spdb-5) * 2);
    --spdb-7: calc(var(--spdb-6) * 2);
    --spdb-8: calc(var(--spdb-7) * 2);
    --spdb-9: calc(var(--spdb-8) * 2);
    --spdb-10: calc(var(--spdb-9) * 2);
    --spdb-11: calc(var(--spdb-10) * 2);
    --spdb-12: calc(var(--spdb-11) * 2);
    /* Scalar spacing tokens are according to scale system variables */
    /* Scalar A */
    --spsc-1: var(--sp-base);
    --spsc-2: calc(var(--spsc-1) * var(--sc-C));
    --spsc-3: calc(var(--spsc-2) * var(--sc-C));
    --spsc-4: calc(var(--spsc-3) * var(--sc-C));
    --spsc-5: calc(var(--spsc-4) * var(--sc-C));
    --spsc-6: calc(var(--spsc-5) * var(--sc-C));
    --spsc-7: calc(var(--spsc-6) * var(--sc-C));
    --spsc-8: calc(var(--spsc-7) * var(--sc-C));
    --spsc-9: calc(var(--spsc-8) * var(--sc-C));
    --spsc-10: calc(var(--spsc-9) * var(--sc-C));
    --spsc-11: calc(var(--spsc-10) * var(--sc-C));
    --spsc-12: calc(var(--spsc-11) * var(--sc-C));
}

@media screen and (max-width: 360px) {
     :root {
        --spsc-1: var(--sp-base);
        --spsc-2: calc(var(--spsc-1) * var(--sc-D));
        --spsc-3: calc(var(--spsc-2) * var(--sc-D));
        --spsc-4: calc(var(--spsc-3) * var(--sc-D));
        --spsc-5: calc(var(--spsc-4) * var(--sc-D));
        --spsc-6: calc(var(--spsc-5) * var(--sc-D));
        --spsc-7: calc(var(--spsc-6) * var(--sc-D));
        --spsc-8: calc(var(--spsc-7) * var(--sc-D));
        --spsc-9: calc(var(--spsc-8) * var(--sc-D));
        --spsc-10: calc(var(--spsc-9) * var(--sc-D));
        --spsc-11: calc(var(--spsc-10) * var(--sc-D));
        --spsc-12: calc(var(--spsc-11) * var(--sc-D));
    }
}

@media screen and (min-width: 361px) and (max-width: 864px) {
     :root {
        --spsc-1: var(--sp-base);
        --spsc-2: calc(var(--spsc-1) * var(--sc-A));
        --spsc-3: calc(var(--spsc-2) * var(--sc-A));
        --spsc-4: calc(var(--spsc-3) * var(--sc-A));
        --spsc-5: calc(var(--spsc-4) * var(--sc-A));
        --spsc-6: calc(var(--spsc-5) * var(--sc-A));
        --spsc-7: calc(var(--spsc-6) * var(--sc-A));
        --spsc-8: calc(var(--spsc-7) * var(--sc-A));
        --spsc-9: calc(var(--spsc-8) * var(--sc-A));
        --spsc-10: calc(var(--spsc-9) * var(--sc-A));
        --spsc-11: calc(var(--spsc-10) * var(--sc-A));
        --spsc-12: calc(var(--spsc-11) * var(--sc-A));
    }
}

@media screen and (min-width: 865px) and (max-width: 1366px) {
     :root {
        --spsc-1: var(--sp-base);
        --spsc-2: calc(var(--spsc-1) * var(--sc-B));
        --spsc-3: calc(var(--spsc-2) * var(--sc-B));
        --spsc-4: calc(var(--spsc-3) * var(--sc-B));
        --spsc-5: calc(var(--spsc-4) * var(--sc-B));
        --spsc-6: calc(var(--spsc-5) * var(--sc-B));
        --spsc-7: calc(var(--spsc-6) * var(--sc-B));
        --spsc-8: calc(var(--spsc-7) * var(--sc-B));
        --spsc-9: calc(var(--spsc-8) * var(--sc-B));
        --spsc-10: calc(var(--spsc-9) * var(--sc-B));
        --spsc-11: calc(var(--spsc-10) * var(--sc-B));
        --spsc-12: calc(var(--spsc-11) * var(--sc-B));
    }
}


/* MOTION */

* {
    transition: var(--mn-3);
}

:root {
    --mn-1: 120ms;
    --mn-2: 240ms;
    --mn-3: 480ms;
    --mn-4: 1000ms;
}


/* SHORTCUTS */

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.mgsc-1 {
    margin: var(--spsc-1);
}

.mgsc-2 {
    margin: var(--spsc-2);
}

.mgsc-3 {
    margin: var(--spsc-3);
}

.mgsc-4 {
    margin: var(--spsc-4);
}

.pgsc-1 {
    padding: var(--spsc-1);
}

.pgsc-2 {
    padding: var(--spsc-2);
}

.pgsc-3 {
    padding: var(--spsc-3);
}

.pgsc-4 {
    padding: var(--spsc-4);
}