/* FONT SIZES */

@media screen and (max-width: 360px) {
     :root {
        --fs-1: 1rem;
        --fs-2: calc(var(--fs-1) * var(--sc-01));
        --fs-3: calc(var(--fs-2) * var(--sc-01));
        --fs-4: calc(var(--fs-3) * var(--sc-01));
        --fs-5: calc(var(--fs-4) * var(--sc-01));
        --fs-6: calc(var(--fs-5) * var(--sc-01));
    }
}

:root {
    --fs-1: 1rem;
    --fs-2: calc(var(--fs-1) * var(--sc-3));
    --fs-3: calc(var(--fs-2) * var(--sc-3));
    --fs-4: calc(var(--fs-3) * var(--sc-3));
    --fs-5: calc(var(--fs-4) * var(--sc-3));
    --fs-6: calc(var(--fs-5) * var(--sc-3));
}

@media screen and (min-width: 361px) and (max-width: 864px) {
     :root {
        --fs-1: 1rem;
        --fs-2: calc(var(--fs-1) * var(--sc-1));
        --fs-3: calc(var(--fs-2) * var(--sc-1));
        --fs-4: calc(var(--fs-3) * var(--sc-1));
        --fs-5: calc(var(--fs-4) * var(--sc-1));
        --fs-6: calc(var(--fs-5) * var(--sc-1));
    }
}

@media screen and (min-width: 865px) and (max-width: 1366px) {
     :root {
        --fs-1: 1rem;
        --fs-2: calc(var(--fs-1) * var(--sc-2));
        --fs-3: calc(var(--fs-2) * var(--sc-2));
        --fs-4: calc(var(--fs-3) * var(--sc-2));
        --fs-5: calc(var(--fs-4) * var(--sc-2));
        --fs-6: calc(var(--fs-5) * var(--sc-2));
    }
}

h1 {
    font-size: var(--fs-6);
}

h2 {
    font-size: var(--fs-5);
}

h3 {
    font-size: var(--fs-4);
}

h4 {
    font-size: var(--fs-3);
}

h5 {
    font-size: var(--fs-2);
}

h6 {
    font-size: var(--fs-1);
}

p {
    font-size: var(--fs-2);
}