/* COLOURS */

:root {
    --primary: #424242;
    --p-light: #6d6d6d;
    --p-dark: #1b1b1b;
    --accent: #304ffe;
    --a-light: #7a7cff;
    --a-dark: #0026ca;
    --text: #1b1b1b;
    --background: #ffffff;
    --neutral: #BDBDBD;
    /* Dark Mode */
    --dark-primary: #424242;
    --dark-text: #ffffff;
    --dark-background: #1b1b1b;
    --dark-neutral: #424242;
}


/* INITIALISE */

[data-theme="dark"] {
    --text: var(--dark-text);
    --background: var(--dark-background);
}

body {
    color: var(--text);
    background-color: var(--background);
}


/* APPLICATIONS */

.clr-primary {
    color: var(--primary);
}

.clr-p-light {
    color: var(--p-light);
}

.clr-p-dark {
    color: var(--p-dark);
}

.clr-accent {
    color: var(--accent);
}

.clr-text {
    color: var(--text);
}

.clr-background {
    color: var(--background);
}

.fill-primary {
    background-color: var(--primary);
}

.fill-p-light {
    background-color: var(--p-light);
}

.fill-p-dark {
    background-color: var(--p-dark);
}

.fill-accent {
    background-color: var(--accent);
}

.fill-text {
    background-color: var(--text);
}

.fill-background {
    background-color: var(--background);
}

.fill-neutral {
    background-color: var(--neutral);
}