/* COLUMNS */

:root {
    --col-base: 12;
    --cols-A: 1;
    --cols-B: 2;
    --cols-C: 3;
    --cols-D: 4;
    --cols-E: 5;
    --cols-F: 6;
    --cols-G: 7;
    --cols-H: 8;
    --cols-I: 9;
    --cols-J: 10;
    --cols-K: 11;
    --cols-L: 12;
}

@media screen and (max-width: 864px) {
     :root {
        --cols-A: 6;
        --cols-B: 6;
        --cols-C: 12;
        --cols-D: 12;
        --cols-E: 12;
        --cols-F: 12;
        --cols-G: 12;
        --cols-H: 12;
        --cols-I: 12;
        --cols-J: 12;
        --cols-K: 12;
        --cols-L: 12;
    }
}

/* GRID CONTAINERS */

.grid-container,
.grid,
.gr {
    display: grid;
}

.grid-12,
.gr-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid-11,
.gr-11 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.grid-10,
.gr-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.grid-9,
.gr-9 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.grid-8,
.gr-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.grid-7,
.gr-7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


.grid-6,
.gr-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid-5,
.gr-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-4,
.gr-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-3,
.gr-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-2,
.gr-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-1,
.gr-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* COLS */

.cols-12,
.col-12 {
    grid-column: span var(--cols-L)
}

.cols-11,
.col-11 {
    grid-column: span var(--cols-K)
}

.cols-10,
.col-10 {
    grid-column: span var(--cols-J)
}

.cols-9,
.col-9 {
    grid-column: span var(--cols-I)
}

.cols-8,
.col-8 {
    grid-column: span var(--cols-H)
}

.cols-7,
.col-7 {
    grid-column: span var(--cols-G)
}

.cols-6,
.col-6 {
    grid-column: span var(--cols-F)
}

.cols-5,
.col-5 {
    grid-column: span var(--cols-E)
}

.cols-4,
.col-4 {
    grid-column: span var(--cols-D)
}

.cols-3,
.col-3 {
    grid-column: span var(--cols-C)
}

.cols-2,
.col-2 {
    grid-column: span var(--cols-B)
}

.cols-1,
.col-1 {
    grid-column: span var(--cols-A)
}

/* LOCKS */

.cols-12-lock,
.col-12-lock {
    grid-column: span 12;
}

.cols-11-lock,
.col-11-lock {
    grid-column: span 11;
}

.cols-10-lock,
.col-10-lock {
    grid-column: span 10;
}

.cols-9-lock,
.col-9-lock {
    grid-column: span 9;
}

.cols-8-lock,
.col-8-lock {
    grid-column: span 8;
}

.cols-7-lock,
.col-7-lock {
    grid-column: span 7;
}

.cols-6-lock,
.col-6-lock {
    grid-column: span 6;
}

.cols-5-lock,
.col-5-lock {
    grid-column: span 5;
}

.cols-4-lock,
.col-4-lock {
    grid-column: span 4;
}

.cols-3-lock,
.col-3-lock {
    grid-column: span 3;
}

.cols-2-lock,
.col-2-lock {
    grid-column: span 2;
}

.cols-1-lock,
.col-1-lock {
    grid-column: span 1;
}

/* AUTO GRID */

.gr-auto {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-6), 1fr));
}

.gr-auto-spdb-1 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-1), 1fr));
}

.gr-auto-spdb-2 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-2), 1fr));
}

.gr-auto-spdb-3 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-3), 1fr));
}

.gr-auto-spdb-4 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-4), 1fr));
}

.gr-auto-spdb-5 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-5), 1fr));
}

.gr-auto-spdb-6 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-6), 1fr));
}

.gr-auto-spdb-7 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-7), 1fr));
}

.gr-auto-spdb-8 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-8), 1fr));
}

.gr-auto-spdb-9 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-9), 1fr));
}

.gr-auto-spdb-10 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-10), 1fr));
}

.gr-auto-spdb-11 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-11), 1fr));
}

.gr-auto-spdb-12 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-12), 1fr));
}


/* ROWS */

.gr-rows-1 {
    grid-template-rows: repeat(2, 1fr);
}

.gr-rows-2 {
    grid-template-rows: repeat(2, 1fr);
}

.gr-rows-3 {
    grid-template-rows: repeat(3, 1fr);
}

.gr-rows-4 {
    grid-template-rows: repeat(3, 1fr);
}


/* ADJUSTMENTS */

.gr-middle {
    justify-content: center;
    align-items: center;
}

.gr-middle-self {
    justify-self: center;
    align-self: center;
}


/* GRID GAPS */

.gr-gap-sc-1 {
    grid-gap: var(--sc-1) var(--sc-1);
}

.gr-gap-sc-2 {
    grid-gap: var(--sc-2) var(--sc-2);
}

.gr-gap-sc-3 {
    grid-gap: var(--sc-3) var(--sc-3);
}

.gr-gap-sc-4 {
    grid-gap: var(--sc-4) var(--sc-4);
}


/*  */


/* EXPERIMENTAL */


/*  */

.gr-responsive {
    grid-template-columns: repeat(var(--col-base), 1fr);
}


/* RESPONSIVE COLS */

.rscols-1 {
    grid-column: span 1;
}

.rscols-2 {
    grid-column: span 2;
}

.rscols-3 {
    grid-column: span 3;
}

.rscols-4 {
    grid-column: span 4;
}

.rscols-5 {
    grid-column: span 5;
}

.rscols-6 {
    grid-column: span 6;
}

.rscols-7 {
    grid-column: span 7;
}

.rscols-8 {
    grid-column: span 8;
}

.rscols-9 {
    grid-column: span 9;
}

.rscols-10 {
    grid-column: span 10;
}

.rscols-11 {
    grid-column: span 11;
}

.rscols-12 {
    grid-column: span 12;
}

@media screen and (max-width: 360px) {
    .rscols-1,
    .rscols-2,
    .rscols-3,
    .rscols-4,
    .rscols-5,
    .rscols-6,
    .rscols-7,
    .rscols-8,
    .rscols-9,
    .rscols-10,
    .rscols-11,
    .rscols-12 {
        grid-column: span 1;
    }
}

@media screen and (min-width: 361px) and (max-width: 560px) {
    .rscols-1,
    .rscols-2,
    .rscols-3,
    .rscols-4,
    .rscols-5,
    .rscols-6 {
        grid-column: span 1;
    }
    .rscols-7,
    .rscols-8,
    .rscols-9,
    .rscols-10,
    .rscols-11,
    .rscols-12 {
        grid-column: span 2;
    }
}