/* COLUMNS */

:root {
    --col-base: 12;
    --col-base-A: 12;
    --col-base-B: 8;
    --col-base-C: 4;
    --col-base-D: 1;
}

@media screen and (max-width: 360px) {
     :root {
        --col-base: 1;
    }
}

@media screen and (min-width: 361px) and (max-width: 560px) {
     :root {
        --col-base: 2;
    }
}

@media screen and (min-width: 561px) and (max-width: 864px) {
     :root {
        --col-base: 4;
    }
}

@media screen and (min-width: 865px) and (max-width: 1366px) {
     :root {
        --col-base: 8;
    }
}


/* GRID CONTAINERS */

.grid-container,
.grid,
.gr {
    display: grid;
}

.grid-12,
.gr-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid-8,
.gr-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.grid-6,
.gr-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid-4,
.gr-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-3,
.gr-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gr-cols-12 {
    grid-template-columns: repeat(12, 1fr);
}

.gr-cols-8 {
    grid-template-columns: repeat(8, 1fr);
}

.gr-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.gr-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.gr-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}


/* AUTO GRID */

.gr-auto {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-6), 1fr));
}

.gr-auto-spdb-1 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-1), 1fr));
}

.gr-auto-spdb-2 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-2), 1fr));
}

.gr-auto-spdb-3 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-3), 1fr));
}

.gr-auto-spdb-4 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-4), 1fr));
}

.gr-auto-spdb-5 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-5), 1fr));
}

.gr-auto-spdb-6 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-6), 1fr));
}

.gr-auto-spdb-7 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-7), 1fr));
}

.gr-auto-spdb-8 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-8), 1fr));
}

.gr-auto-spdb-9 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-9), 1fr));
}

.gr-auto-spdb-10 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-10), 1fr));
}

.gr-auto-spdb-11 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-11), 1fr));
}

.gr-auto-spdb-12 {
    grid-template-columns: repeat(auto-fit, minmax(var(--spdb-12), 1fr));
}


/* ROWS */

.gr-rows-1 {
    grid-template-rows: repeat(2, 1fr);
}

.gr-rows-2 {
    grid-template-rows: repeat(2, 1fr);
}

.gr-rows-3 {
    grid-template-rows: repeat(3, 1fr);
}

.gr-rows-4 {
    grid-template-rows: repeat(3, 1fr);
}


/* ADJUSTMENTS */

.gr-middle {
    justify-content: center;
    align-items: center;
}

.gr-middle-self {
    justify-self: center;
    align-self: center;
}


/* GRID GAPS */

.gr-gap-sc-1 {
    grid-gap: var(--sc-1) var(--sc-1);
}

.gr-gap-sc-2 {
    grid-gap: var(--sc-2) var(--sc-2);
}

.gr-gap-sc-3 {
    grid-gap: var(--sc-3) var(--sc-3);
}

.gr-gap-sc-4 {
    grid-gap: var(--sc-4) var(--sc-4);
}


/* COLUMN SPANS */

.cols-1 {
    grid-column: span 1;
}

.cols-2 {
    grid-column: span 2;
}

.cols-3 {
    grid-column: span 3;
}

.cols-4 {
    grid-column: span 4;
}

.cols-5 {
    grid-column: span 5;
}

.cols-6 {
    grid-column: span 6;
}

.cols-7 {
    grid-column: span 7;
}

.cols-8 {
    grid-column: span 8;
}

.cols-9 {
    grid-column: span 9;
}

.cols-10 {
    grid-column: span 10;
}

.cols-11 {
    grid-column: span 11;
}

.cols-12 {
    grid-column: span 12;
}


/*  */


/* EXPERIMENTAL */


/*  */

.gr-responsive {
    grid-template-columns: repeat(var(--col-base), 1fr);
}


/* RESPONSIVE COLS */

.rscols-1 {
    grid-column: span 1;
}

.rscols-2 {
    grid-column: span 2;
}

.rscols-3 {
    grid-column: span 3;
}

.rscols-4 {
    grid-column: span 4;
}

.rscols-5 {
    grid-column: span 5;
}

.rscols-6 {
    grid-column: span 6;
}

.rscols-7 {
    grid-column: span 7;
}

.rscols-8 {
    grid-column: span 8;
}

.rscols-9 {
    grid-column: span 9;
}

.rscols-10 {
    grid-column: span 10;
}

.rscols-11 {
    grid-column: span 11;
}

.rscols-12 {
    grid-column: span 12;
}

@media screen and (max-width: 360px) {
    .rscols-1,
    .rscols-2,
    .rscols-3,
    .rscols-4,
    .rscols-5,
    .rscols-6,
    .rscols-7,
    .rscols-8,
    .rscols-9,
    .rscols-10,
    .rscols-11,
    .rscols-12 {
        grid-column: span 1;
    }
}

@media screen and (min-width: 361px) and (max-width: 560px) {
    .rscols-1,
    .rscols-2,
    .rscols-3,
    .rscols-4,
    .rscols-5,
    .rscols-6 {
        grid-column: span 1;
    }
    .rscols-7,
    .rscols-8,
    .rscols-9,
    .rscols-10,
    .rscols-11,
    .rscols-12 {
        grid-column: span 2;
    }
}