/* BUTTONS */

button,
.btn-primary {
    padding: var(--sc-2) var(--sc-4);
    background-color: var(--accent);
    color: var(--background);
    border: none;
    outline: none;
}

[data-theme="light"] button {
    color: var(--background);
}

[data-theme="dark"] button {
    color: var(--text);
}

button:hover,
.btn-primary:hover {
    background-color: var(--a-dark);
}

button:active,
.btn-primary:active {
    background-color: var(--a-light)
}

.btn-secondary {
    background-color: var(--primary);
}

.btn-secondary:hover {
    background-color: var(--p-dark);
}

.btn-secondary:active {
    background-color: var(--p-light)
}

.btn-tertiary {
    background-color: transparent;
    border: var(--border);
    border-color: var(--accent);
    color: var(--accent);
}

[data-theme="light"] .btn-tertiary {
    color: var(--accent);
}

[data-theme="dark"] .btn-tertiary {
    color: var(--text);
}

.btn-tertiary:hover {
    background-color: var(--accent);
    color: var(--dark-text);
}

.btn-tertiary:active {
    background-color: var(--a-light)
}

.btn-dot-min {
    width: var(--sc-1);
    height: var(--sc-1);
    padding: 0;
    border-radius: 100%;
}

.btn-dot {
    width: var(--sc-4);
    height: var(--sc-4);
}


/* FORMS */

input[type="text"] {
    height: var(--sc-5);
    border: var(--border);
    outline: none;
}


/* Enhance form clickability on smaller viewports */

@media screen and (max-width: 360px) {
    input[type="text"] {
        height: var(--sc-9);
    }
}

@media screen and (min-width: 361px) and (max-width: 864px) {
    input[type="text"] {
        height: var(--sc-7);
    }
}


/* TILE */

.tile {
    box-shadow: var(--ev-1);
}

.tile-hidden {
    box-shadow: var(--ev-0);
}

.tile:hover,
.tile-hidden:hover {
    box-shadow: var(--ev-12);
    border-color: rgba(0, 0, 0, 0);
}

.tile:active,
.tile-hidden:active {
    box-shadow: var(--ev-8);
    border-color: rgba(0, 0, 0, 0);
}

[data-theme="dark"] .tile:hover {
    background-color: var(--ov-3);
}

[data-theme="dark"] .tile {
    background-color: var(--ov-1);
}


/* STUB */

.stub {
    /* factor is multiplied against --sp-1 to determine height + width */
    --factor: 0.56
}

.stub {
    width: var(--sc-4);
    height: calc(var(--sp-1) * var(--factor));
    min-height: 4px;
}