/* SHORTCUTS */


/* DIMENSIONS */

.height-100,
.h-100 {
    height: 100%;
}

.width-100,
.w-100 {
    width: 100%;
}


/* POSITION */

.middle,
.center {
    justify-content: center;
    align-items: center;
}

.middle-self,
.center-self {
    justify-self: center;
    align-self: center;
}

.x-middle,
.x-center {
    justify-content: center;
}

.y-middle,
.y-center {
    align-items: center;
}


/* MARGINS & PADDING */

.mgsc-1 {
    margin: var(--sc-1);
}

.mgsc-2 {
    margin: var(--sc-2);
}

.mgsc-3 {
    margin: var(--sc-3);
}

.mgsc-4 {
    margin: var(--sc-4);
}

.mgsc-5 {
    margin: var(--sc-5);
}

.mgsc-6 {
    margin: var(--sc-6);
}

.mgsc-7 {
    margin: var(--sc-7);
}

.mgsc-8 {
    margin: var(--sc-8);
}

.mgsc-y-1 {
    margin-top: var(--sc-1);
    margin-bottom: var(--sc-1);
}

.mgsc-y-2 {
    margin-top: var(--sc-2);
    margin-bottom: var(--sc-2);
}

.mgsc-y-3 {
    margin-top: var(--sc-3);
    margin-bottom: var(--sc-3);
}

.mgsc-y-4 {
    margin-top: var(--sc-4);
    margin-bottom: var(--sc-4);
}

.pgsc-1 {
    padding: var(--sc-1);
}

.pgsc-2 {
    padding: var(--sc-2);
}

.pgsc-3 {
    padding: var(--sc-3);
}

.pgsc-4 {
    padding: var(--sc-4);
}

.pgsc-5 {
    padding: var(--sc-5);
}

.pgsc-6 {
    padding: var(--sc-6);
}

.pgsc-7 {
    padding: var(--sc-7);
}

.pgsc-8 {
    padding: var(--sc-8);
}


/* FLEX */

.flex-container,
.fx-container,
.flex,
.fx {
    display: flex;
}

.fx-row {
    flex-flow: row wrap;
}

.fx-col {
    flex-flow: column wrap;
}

.fx-grow {
    flex-grow: 1;
}

.fx-x-end,
.x-end {
    justify-content: flex-end;
}

.fx-y-end,
.y-end {
    align-items: flex-end;
}

.fx-x-between,
.x-between {
    justify-content: space-between;
}

.fx-y-between,
.y-between {
    align-items: space-between;
}


/* CORNER RADIUS */

.cr-0 {
    border-radius: 0;
}

.cr-half,
.cr-hlf,
.cr-hf {
    border-radius: calc(var(--sc-1) * 0.5);
}

.cr-1 {
    border-radius: var(--sc-1);
}

.cr-2 {
    border-radius: var(--sc-2);
}

.cr-3 {
    border-radius: var(--sc-3);
}

.cr-4 {
    border-radius: var(--sc-4);
}


/* EXPERIMENTAL */

 :root {
    --invisible: rgba(0, 0, 0, 0);
}

.nosel {
    user-select: none;
}