/* SCALES */

:root {
    /* Perfect Fourth */
    --scalar-1: 1.333;
    /* Perfect Fifth */
    --scalar-2: 1.500;
    /* Fibonacci Golden Ratio */
    --scalar-3: 1.618;
    /* Major Third */
    --scalar-01: 1.250;
}

:root {
    /* set a base unit */
    --sp-base: 0.5rem;
    /* Standard spacing tokens are linearly incremental */
    --sp-1: var(--sp-base);
    --sp-2: calc(var(--sp-1) + var(--sp-base));
    --sp-3: calc(var(--sp-2) + var(--sp-base));
    --sp-4: calc(var(--sp-3) + var(--sp-base));
    --sp-5: calc(var(--sp-4) + var(--sp-base));
    --sp-6: calc(var(--sp-5) + var(--sp-base));
    --sp-7: calc(var(--sp-6) + var(--sp-base));
    --sp-8: calc(var(--sp-7) + var(--sp-base));
    --sp-9: calc(var(--sp-8) + var(--sp-base));
    --sp-10: calc(var(--sp-9) + var(--sp-base));
    --sp-11: calc(var(--sp-10) + var(--sp-base));
    --sp-12: calc(var(--sp-11) + var(--sp-base));
    /* Geometric series common ratio 2 (doubling)*/
    --spdb-1: var(--sp-base);
    --spdb-2: calc(var(--spdb-1) * 2);
    --spdb-3: calc(var(--spdb-2) * 2);
    --spdb-4: calc(var(--spdb-3) * 2);
    --spdb-5: calc(var(--spdb-4) * 2);
    --spdb-6: calc(var(--spdb-5) * 2);
    --spdb-7: calc(var(--spdb-6) * 2);
    --spdb-8: calc(var(--spdb-7) * 2);
    --spdb-9: calc(var(--spdb-8) * 2);
    --spdb-10: calc(var(--spdb-9) * 2);
    --spdb-11: calc(var(--spdb-10) * 2);
    --spdb-12: calc(var(--spdb-11) * 2);
}


/* Scalar spacing tokens are according to scale system variables and dynamically applied via media queries by default*/

@media screen and (max-width: 360px) {
     :root {
        --sc-1: var(--sp-base);
        --sc-2: calc(var(--sc-1) * var(--scalar-01));
        --sc-3: calc(var(--sc-2) * var(--scalar-01));
        --sc-4: calc(var(--sc-3) * var(--scalar-01));
        --sc-5: calc(var(--sc-4) * var(--scalar-01));
        --sc-6: calc(var(--sc-5) * var(--scalar-01));
        --sc-7: calc(var(--sc-6) * var(--scalar-01));
        --sc-8: calc(var(--sc-7) * var(--scalar-01));
        --sc-9: calc(var(--sc-8) * var(--scalar-01));
        --sc-10: calc(var(--sc-9) * var(--scalar-01));
        --sc-11: calc(var(--sc-10) * var(--scalar-01));
        --sc-12: calc(var(--sc-11) * var(--scalar-01));
    }
}

@media screen and (min-width: 361px) and (max-width: 864px) {
     :root {
        --sc-1: var(--sp-base);
        --sc-2: calc(var(--sc-1) * var(--scalar-1));
        --sc-3: calc(var(--sc-2) * var(--scalar-1));
        --sc-4: calc(var(--sc-3) * var(--scalar-1));
        --sc-5: calc(var(--sc-4) * var(--scalar-1));
        --sc-6: calc(var(--sc-5) * var(--scalar-1));
        --sc-7: calc(var(--sc-6) * var(--scalar-1));
        --sc-8: calc(var(--sc-7) * var(--scalar-1));
        --sc-9: calc(var(--sc-8) * var(--scalar-1));
        --sc-10: calc(var(--sc-9) * var(--scalar-1));
        --sc-11: calc(var(--sc-10) * var(--scalar-1));
        --sc-12: calc(var(--sc-11) * var(--scalar-1));
    }
}

@media screen and (min-width: 865px) and (max-width: 1366px) {
     :root {
        --sc-1: var(--sp-base);
        --sc-2: calc(var(--sc-1) * var(--scalar-2));
        --sc-3: calc(var(--sc-2) * var(--scalar-2));
        --sc-4: calc(var(--sc-3) * var(--scalar-2));
        --sc-5: calc(var(--sc-4) * var(--scalar-2));
        --sc-6: calc(var(--sc-5) * var(--scalar-2));
        --sc-7: calc(var(--sc-6) * var(--scalar-2));
        --sc-8: calc(var(--sc-7) * var(--scalar-2));
        --sc-9: calc(var(--sc-8) * var(--scalar-2));
        --sc-10: calc(var(--sc-9) * var(--scalar-2));
        --sc-11: calc(var(--sc-10) * var(--scalar-2));
        --sc-12: calc(var(--sc-11) * var(--scalar-2));
    }
}

@media screen and (min-width: 1361px) {
     :root {
        --sc-1: var(--sp-base);
        --sc-2: calc(var(--sc-1) * var(--scalar-3));
        --sc-3: calc(var(--sc-2) * var(--scalar-3));
        --sc-4: calc(var(--sc-3) * var(--scalar-3));
        --sc-5: calc(var(--sc-4) * var(--scalar-3));
        --sc-6: calc(var(--sc-5) * var(--scalar-3));
        --sc-7: calc(var(--sc-6) * var(--scalar-3));
        --sc-8: calc(var(--sc-7) * var(--scalar-3));
        --sc-9: calc(var(--sc-8) * var(--scalar-3));
        --sc-10: calc(var(--sc-9) * var(--scalar-3));
        --sc-11: calc(var(--sc-10) * var(--scalar-3));
        --sc-12: calc(var(--sc-11) * var(--scalar-3));
    }
}